.header {
  @apply flex flex-col text-white
            w-full justify-start mx-auto;

  &_container {
    @apply flex items-center justify-between my-5;

    &_logo {
      @apply flex gap-x-3 items-center md:items-center md:flex-row md:gap-x-3;

      svg {
        width: 30px;
        height: 30px;
        animation: spin 2s linear infinite;
      }

      @keyframes spin {
        from {
          transform: rotateY(0deg);
        }
        to {
          transform: rotateY(360deg);
        }
      }

      &_name {
        @apply flex-col;
      }

      .scroll_name {
        @apply text-green-500;
      }
    }

    &_nav {
      @apply hidden uppercase cursor-pointer
             gap-3 no-underline md:flex lg:flex xl:flex;

      li {
        @apply grow relative;
      }
      li::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 2px;
        background-color: red;
        transition: width 0.3s ease-out;
      }
      li:hover::before,
      a:focus::before {
        transform-origin: left top;
        transform: scale(1, 1);
      }
      li:hover::after,
      li:focus::after {
        width: 100%;
      }

      li.visited::after {
        width: 100%;
      }
    }

    &_button {
      @apply flex w-8 h-8 md:hidden lg:hidden xl:hidden;

      svg {
        @apply w-full h-auto;
      }
    }
  }
  .mobile_nav {
    @apply w-64 min-h-screen flex flex-col items-center fixed top-0 right-0 
           placeholder-teal-400 pt-14 px-[40px] transition-transform ease-in-out duration-300 gap-y-5
          bg-[#2F4F4F] text-[rgb(234,179,8)] overflow-x-hidden;

    & ul {
      @apply relative flex flex-col items-center gap-y-5 border-y-gray-200 py-5 px-2 cursor-pointer;
    }
    & .close {
      @apply w-8 h-8 text-white fixed z-10 top-4 right-1 text-center cursor-pointer;
    }
    .open {
      @apply transform translate-x-[-250px] ease-in-out duration-500;
    }
  }
}
