.header > .header_container_logo > svg {
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
.header > .header_container_logo > @keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.header .header_container_logo li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease-out;
}

.header .header_container_nav li:hover::before,
.header .header_container_nav a:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.header .header_container_nav li:hover::after,
.header .header_container_nav li:focus::after {
  width: 100%;
}

.header .header_container_nav li.visited::after {
  width: 100%;
}
