.header_container {
  &_logo {
    svg {
      width: 30px;
      height: 30px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      from {
        transform: rotateY(0deg);
      }
      to {
        transform: rotateY(360deg);
      }
    }
  }

  &_nav {
    li {
      position: relative;
      flex-grow: 1;
    }

    li::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 2px;
      background-color: red;
      transition: width 0.3s ease-out;
    }

    li:hover::before,
    a:focus::before {
      transform-origin: left top;
      transform: scale(1, 1);
    }

    li:hover::after,
    li:focus::after {
      width: 100%;
    }

    li.visited::after {
      width: 100%;
    }
  }
}